<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SaltAdmin Login</title>
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ static_url('css/login.min.css') }}" rel="stylesheet" type="text/css" />
</head>
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="/"><img src="{{ static_url('img/logo-big.png') }}" alt="SaltAdmin" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form">
        <h3 class="form-title font-green">SaltAdmin</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>请输入用户名和密码</span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">{{ _('Username') }}</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ _('Username') }}" id="username" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{ _('Password') }}</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ _('Password') }}" id="password" />
        </div>
        <div class="form-group"><a href="javascript:;" id="forget-password" class="forget-password">{{ _('Forget Password') }}</a></div>
        <div class="form-actions">
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="remember" value="1" />{{ _('Remember Me') }}
                <span></span>
            </label>
            <button type="button" class="btn green login-btn" id="login">{{ _('Sign In') }}</button>
        </div>
        <!--
        <div class="login-options">
            <h4>Or login with</h4>
            <ul class="social-icons">
                <li>
                    <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                </li>
            </ul>
        </div>
        -->
        <div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn">{{ _('Sign Up') }}</a>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
        <h3 class="font-green">Forget Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright">2017 &copy; SaltAdmin By <a target="_blank" href="https://github.com/kkstu" class="footer-copyright-link">KK Studio</a></div>
<script src="{{ static_url('js/xk-saltadmin.min.js') }}" type="text/javascript"></script>
<script>
$(function(){
    var _login = function(){
        var username = $('#username').val().trim();
        var password = $('#password').val().trim();
        if (username==""){
            $.xk.toast('用户名不能为空！');
            $('#username').focus();
            return false;
        }
        if (password==""){
            $.xk.toast('密码不能为空！');
            $('#password').focus();
            return false;
        }
        var remember = "no";
        if ($("#remember").is(':checked')){
            remember = "yes";
        }
        $.xk.http({
            type: 'POST',
            url: '/user/login?_k=' + $.random(),
            data: {'username':username,'password':$.xk.md5(password),'remember':remember},
            dataType: "json",
            success: function(response){
                var code = response['code'];
                if (code<0){
                    var msg = response['msg'];
                    $.xk.toast(msg);
                } else if (code==0){
                    var url = response['url'];
                    location.href = url;
                } else {
                    $.xk.alert('服务器错误');
                }
            },
            error: function(){
                $.xk.alert('系统繁忙，请稍后再试。');
            }
        });
    };
    $("#login").click(_login);
    //监听回车事件
    $("html").keydown(function(e){
        var key = e.which;
        if(key == 13){
            _login();
            return false;
        }
    });
});
</script>
</body>
</html>