{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>我的资料</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-1 control-label">用户名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" placeholder="用户名" value="{{ profile.username }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nickname" class="col-sm-1 control-label">姓名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="nickname" placeholder="姓名" value="{{ profile.nickname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-1 control-label">性别</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="gender" data-v="{{ profile.gender }}">
                            <option value="0">请选择性别</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dept" class="col-sm-1 control-label">部门</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="dept" placeholder="部门" value="{{ profile.dept }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-1 control-label">邮箱</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="email" placeholder="电子邮箱" value="{{ profile.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-1 control-label">手机</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="phone" placeholder="手机号码" value="{{ profile.phone }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lang" class="col-sm-1 control-label">系统语言</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="lang" data-v="{{ profile.lang }}">
                            <option value="zh_CN">简体中文</option>
                            <option value="en_US">英语</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg_time" class="col-sm-1 control-label">注册时间</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="reg_time" placeholder="注册时间" value="{{ handler.format_time(profile.create_time) }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="login_time" class="col-sm-1 control-label">登录时间</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="login_time" placeholder="登录时间" value="{{ handler.format_time(profile.login_time) }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="login_ip" class="col-sm-1 control-label">登录IP</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="login_ip" placeholder="登录IP" value="{{ profile.login_ip }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-5 text-right">
                        <a class="btn btn-primary" id="save_btn"><i class="fa fa-check"></i> {{ _('Save') }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
$(function(){
    var _init_ = function(){
        var gender = $('#gender').data('v');
        var lang = $('#lang').data('v');
        $('#gender').val(gender);
        $('#lang').val(lang);

    };
    _init_();
    var _save_profile = function(){
        var data = {
            'nickname': $('#nickname').val().trim(),
            'gender': $('#gender').val(),
            'email': $('#email').val().trim(),
            'phone': $('#phone').val().trim(),
            'dept': $('#dept').val().trim(),
            'lang': $('#lang').val()
        };
        if (data['nickname']==""){
            $.xk.toast('姓名不能为空！');
            $('#nickname').focus();
            return false;
        }
        if (data['gender']=="0"){
            $.xk.toast('请选择您的性别！');
            $('#gender').focus();
            return false;
        }
        $.xk.http({
            type: 'POST',
            url: '/user/profile',
            data: data,
            dataType: "json",
            success: function(response){
                var code = response['code'];
                if (code<0){
                    var msg = response['msg'];
                    $.xk.toast(msg);
                } else if (code==0){
                    $.xk.toast('保存成功！');
                } else {
                    $.xk.alert('服务器错误！');
                }
            },
            error: function(){
                $.xk.alert('系统繁忙，请稍后再试！');
            }
        });
    };
    $("#save_btn").click(_save_profile);
});
</script>
{% endblock %}