{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>新增主机</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;">
            <a class="btn btn-primary" href="/host"><i class="fa fa-file-archive-o"></i> 主机清单</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="hostname" class="col-sm-1 control-label">主机名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="hostname" placeholder="主机名">
                    </div>
                    <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                </div>
                <div class="form-group">
                    <label for="smid" class="col-sm-1 control-label">MinionID</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="smid" placeholder="Salt Minion ID">
                    </div>
                    <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                </div>
                <div class="form-group">
                    <label for="master_id" class="col-sm-1 control-label">SaltMaster</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="master_id">
                            {% for i in saltmaster %}
                            <option value="{{ i.id }}">{{ i.hostname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ip" class="col-sm-1 control-label">IP地址</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="ip" placeholder="主机IP地址">
                    </div>
                    <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-1 control-label">主机分组</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="group">
                            <option value="0">请选择分组</option>
                            {% for gid in groups %}
                            <option value="{{ gid }}">{{ groups[gid].get('group_name','') }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc" class="col-sm-1 control-label">主机描述</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="desc" placeholder="主机描述">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-5 text-right">
                        <a class="btn btn-primary" id="save_btn"><i class="fa fa-check"></i> 保存</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
$(function(){
    var _init = function(){
        $('#hostname').keyup(function(){
            var hostname = $(this).val().trim();
            $('#smid').val(hostname);
        });
    };
    _init();
    var _create_host = function(){
        var data = {
            'hostname': $('#hostname').val().trim(),
            'smid': $('#smid').val().trim(),
            'ip': $('#ip').val().trim(),
            'group': $('#group').val(),
            'desc': $('#desc').val().trim()
        };
        if (data['hostname']==""){
            $.xk.toast('主机名不能为空！');
            $('#hostname').focus();
            return false;
        }
        if (data['smid']==""){
            $.xk.toast('Salt ID 不能为空！');
            $('#smid').focus();
            return false;
        }
        if (data['ip']==""){
            $.xk.toast('主机IP不能为空！');
            $('#ip').focus();
            return false;
        }
        if (data['group']=="0"){
            $.xk.toast('请选择主机分组！');
            $('#group').focus();
            return false;
        }
        $.xk.http({
            type: 'POST',
            url: '/host/create',
            data: data,
            dataType: "json",
            success: function(response){
                var code = response['code'];
                if (code<0){
                    var msg = response['msg'];
                    $.xk.toast(msg);
                } else if (code==0){
                    $.xk.toast('添加成功！');
                    var hid = response['hid'];
                    location.href = '/host/detail?hid=' + hid; //添加成功跳转到主机详情页面
                } else {
                    $.xk.alert('服务器错误！');
                }
            },
            error: function(){
                $.xk.alert('系统繁忙，请稍后再试！');
            }
        });
    };
    $("#save_btn").click(_create_host);
});
</script>
{% endblock %}