{% extends "../layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>主机分组管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增分组</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>分组名称</th>
                    <th>主机统计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.group_name }}</td>
                    <td>{{ d.hosts_count }}</td>
                    <td><a href="javascript:void(0)">编辑</a> | <a href="javascript:void(0)">删除</a></td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}