{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>主机分组管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><button type="button" class="btn btn-primary" id="new_group"><i class="fa fa-plus"></i> 新增分组</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>分组名称</th>
                    <th>主机统计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for gid in data %}
                <tr>
                    <td>{{ gid }}</td>
                    <td id="gname_{{ gid }}">{{ data[gid].get('group_name','') }}</td>
                    <td>{{ data[gid].get('hosts_count','') }}</td>
                    <td>
                        <div class="btn-group btn-group-xs btn-group-solid">
                            <button type="button" class="btn red" data-gid="{{ gid }}">删 除</button>
                            <button type="button" class="btn green edit-btn" data-gid="{{ gid }}">编 辑</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade in" id="dialog" tabindex="-1" role="basic" aria-hidden="true" style="margin-top: 8%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">分组管理</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="gid" class="col-sm-2 col-sm-offset-1 control-label">GID</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="gid" placeholder="分组ID" value="1" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gname" class="col-sm-2 col-sm-offset-1 control-label">分组名称</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="gname" placeholder="分组名称">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" id="save_btn">保 存</button>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关 闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
{% block footer %}
<script>
$(function(){
    $('#new_group').click(function(){
        $('#gid').val('系统自动分配');
        $('#gname').val('');
        $("#dialog").modal({keyboard:false,backdrop:"static"});
    });
    $('.edit-btn').click(function(){
        var gid = $(this).data('gid');
        $('#gid').val(gid);
        var gname = $('#gname_'+gid).html().trim();
        $('#gname').val(gname);
        $("#dialog").modal({keyboard:false,backdrop:"static"});
    });
});
</script>
{% endblock %}