{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>主机分组管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增分组</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>分组名称</th>
                    <th>主机统计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for gid in data %}
                <tr>
                    <td>{{ gid }}</td>
                    <td>{{ data[gid].get('group_name','') }}</td>
                    <td>{{ data[gid].get('hosts_count','') }}</td>
                    <td>
                        <div class="btn-group btn-group-xs btn-group-solid">
                            <button type="button" class="btn red" data-gid="{{ gid }}">删除</button>
                            <button type="button" class="btn green" data-gid="{{ gid }}">编辑</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}