{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>主机管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><a href="/host/create" class="btn btn-primary"><i class="fa fa-plus"></i> 新增主机</a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>主机名</th>
                    <th>Minion ID</th>
                    <th>IP地址</th>
                    <th>分组</th>
                    <th>状态</th>
                    <th style="width:180px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td><a href="/host/detail?hid={{ d.id }}">{{ d.hostname or '' }}</a></td>
                    <td>{{ d.minion_id or '' }}</td>
                    <td>{{ d.ip or '' }}</td>
                    <td>{{ groups.get(d.host_group,{}).get('group_name','') }}</td>
                    <td>{{ status.get(d.status,'') }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs">删 除</a>
                        <a href="/host/detail?hid={{ d.id }}" class="btn btn-info btn-xs">编 辑</a>
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs">任 务</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pull-right">
                <ul class="pagination bootpag">
                    <li class="prev disabled"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                    <li class="disabled"><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li class="next"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}