{% extends "../layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>主机管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;">{{ handler.time_str }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>主机名</th>
                    <th>IP地址</th>
                    <th>分组</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.hostname }}</td>
                    <td>{{ d.ip }}</td>
                    <td>{{ d.host_group }}</td>
                    <td>{{ d.status }}</td>
                    <td><a href="javascript:void(0)">编辑</a> | <a href="javascript:void(0)">任务</a></td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}