<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static_url('css/vendor.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/app.css') }}" />
</head>
<body>
<h3>Hello,world!</h3>
<script src="{{ static_url('js/vendor.js') }}"></script>
<!--<script src="{{ static_url('js/app.js') }}"></script>-->
</body>
</html>