{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>控制中心</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;">{{ handler.format_time(handler.time) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p>SaltAdmin: {{ data['saltadmin'] }}</p>
            <p>SaltStack: {{ data['saltstack'] }}</p>
            <p>Tornado: {{ data['tornado'] }}</p>
            <p>上次登录时间: {{ data['login_time'] }}</p>
            <p>上次登录IP: {{ data['login_ip'] }}</p>
            <p>上次登录UA: {{ data['login_ua'] }}</p>
        </div>
    </div>
</div>
{% endblock %}