{% extends "../layout/main.html" %}
{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>Page Title</span>
            </li>
            <!--<li>
                <a href="#">Blank Page</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Page Layouts</span>
            </li>-->
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;">2017-04-03 17:31:25</div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">Blank Page Layout</h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div>
        <p>{{ foo }}</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>Col 1</th>
                    <th>Col 2</th>
                    <th>Col 3</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}