{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>Salt-Key管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span>请选择Salt-Master：</span>
            <span>
                <select id="saltmaster" style="height: 32px; padding: 3px 6px;">
                    {% for d in data %}
                        <option value="{{ d.id }}">{{ d.hostname }}</option>
                    {% endfor %}
                </select>
            </span>
            <span><a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> 加载 Salt-Key</a></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>Salt-Key</th>
                    <th>状态</th>
                    <th style="width:200px">管理</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs">删 除</a>
                        <a href="javascript:void(0);" class="btn btn-success btn-xs">通过认证</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <ul class="pagination bootpag">
                    <li class="prev disabled"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                    <li class="disabled"><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li class="next"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}