{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>SaltMaster管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><a href="/salt/master/create" class="btn btn-primary"><i class="fa fa-plus"></i> 新增Master</a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>主机名</th>
                    <th>API</th>
                    <th>用户名</th>
                    <th>Minion统计</th>
                    <th>状态</th>
                    <th>管理</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.hostname or '' }}</td>
                    <td>{{ d.api or '' }}</td>
                    <td>{{ d.username or '' }}</td>
                    <td>{{ d.minion_count }}</td>
                    <td>{{ d.status }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs">删 除</a>
                        <a href="/salt/master/edit?hid={{ d.id }}" class="btn btn-info btn-xs">编 辑</a>
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs">详 情</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}