{% extends "layout/main.html" %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>SaltMaster管理</span>
            </li>
        </ul>
        <div class="page-toolbar pull-right" style="margin-top:5px;"><a href="javascript:void(0);" class="btn btn-primary" id="new_saltmaster"><i class="fa fa-plus"></i> 新增Master</a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped cf table-hover table-center">
                <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>主机名</th>
                    <th>API</th>
                    <th>用户名</th>
                    <th>Minion统计</th>
                    <th>状态</th>
                    <th>管理</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td id="hostname_{{ d.id }}">{{ d.hostname or '' }}</td>
                    <td id="api_url_{{ d.id }}">{{ d.api or '' }}</td>
                    <td id="api_username_{{ d.id }}">{{ d.username or '' }}</td>
                    <td>{{ d.minion_count }}</td>
                    <td>{{ d.status }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs">删 除</a>
                        <a href="javascript:void(0);" class="btn btn-info btn-xs edit-btn" data-mid="{{ d.id }}">编 辑</a>
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs">详 情</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade in" id="dialog" tabindex="-1" role="basic" aria-hidden="true" style="margin-top: 4%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="dialog_title">SaltMaster管理</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="hostname" class="col-sm-2 col-sm-offset-1 control-label">主机名</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="hostname" placeholder="Salt Master 主机名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api_url" class="col-sm-2 col-sm-offset-1 control-label">SaltAPI</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="api_url" placeholder="Salt API URL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api_username" class="col-sm-2 col-sm-offset-1 control-label">用户名</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="api_username" placeholder="SaltAPI用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api_password" class="col-sm-2 col-sm-offset-1 control-label">密　码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="api_password" placeholder="SaltAPI密码">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" id="save_btn">保 存</button>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关 闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
{% block footer %}
<script>
$(function(){
    $('#new_saltmaster').click(function(){
        $('#save_btn').data('fun','c');
        $('#save_btn').data('mid',0);
        $('#dialog_title').html('新增SaltMaster');
        $('#hostname').val('');
        $('#api_url').val('');
        $('#api_username').val('');
        $('#api_password').val('');
        $("#dialog").modal({keyboard:false,backdrop:"static"});
    });
    $('.edit-btn').click(function(){
        var mid = $(this).data('mid');
        $('#dialog_title').html('编辑SaltMaster');
        $('#save_btn').data('fun','u');
        $('#save_btn').data('mid',mid);
        var hostname = $('#hostname_'+mid).html().trim();
        var api_url = $('#api_url_'+mid).html().trim();
        var api_username = $('#api_username_'+mid).html().trim();
        $('#hostname').val(hostname);
        $('#api_url').val(api_url);
        $('#api_username').val(api_username);
        $('#api_password').val('');
        $("#dialog").modal({keyboard:false,backdrop:"static"});
    });
    var _save_master = function(){
        var data = {
            hostname: $('#hostname').val().trim(),
            api_url: $('#api_url').val().trim(),
            api_username: $('#api_username').val().trim(),
            api_password: $('#api_password').val().trim(),
            id: $('#save_btn').data('mid'),
            f: $('#save_btn').data('fun')
        };
        if (data.hostname==""){
            $.xk.toast('请输入SaltMaster主机名');
            $('#hostname').focus();
            return false;
        }
        if (data.api_url==""){
            $.xk.toast('请输入SaltAPI的URL地址');
            $('#api_url').focus();
            return false;
        }
        if (data.api_username==""){
            $.xk.toast('请输入SaltAPI用户名');
            $('#api_username').focus();
            return false;
        }
        if (data.f=="c" && data.api_password==""){
            $.xk.toast('请输入SaltAPI密码');
            $('#api_password').focus();
            return false;
        }
        $.xk.http({
            type: 'POST',
            url: '/salt/master',
            data: data,
            dataType: "json",
            success: function(response){
                var code = response['code'];
                if (code<0){
                    var msg = response['msg'];
                    $.xk.toast(msg);
                } else if (code==0){
                    $("#dialog").modal('hide');
                    $.xk.toast('保存成功！');
                    location.reload();
                } else {
                    $.xk.alert('服务器错误！');
                }
            },
            error: function(){
                $.xk.alert('系统繁忙，请稍后再试！');
            }
        });
    };
    $('#save_btn').click(_save_master);
});
</script>
{% endblock %}