<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SaltAdmin</title>
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!--<link href="static/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />-->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ static_url('css/components.min.css') }}" rel="stylesheet" type="text/css" />
    <!--<link href="static/css/plugins.min.css" rel="stylesheet" type="text/css" />-->
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ static_url('css/layout.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/saltadmin.css') }}" rel="stylesheet" type="text/css" />
    {% block head %}{% end %}
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        {% include "top.html" %}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {% module Nav('/url') %}
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                {% block content %}{% end %}
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner pull-right"> Copyright &copy; 2017
                <a target="_blank" href="https://github.com/kkstu" class="footer-copyright-link">KK Studio.</a>
                All Rights Reserved.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <script src="{{ static_url('js/xk-saltadmin.min.js') }}" type="text/javascript"></script>
{% block footer %}{% end %}
</body>
</html>